/* Additional styles */

body {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 100%;
  background: #FBFBFB;
}
.container2 {
  background: white;
  width: auto;
}
h1 {
  font-family: "Open Sans";
  font-size: 35px;
  font-variant: normal;
  font-weight: lighter;
  font-stretch: extra-expanded;
}
h2 {
  font-family: "Open Sans";
  font-size: 31px;
  font-variant: normal;
  font-weight: lighter;
  font-stretch: extra-expanded;
}
p {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 100;
  font-stretch: semi-expanded;
  font-size-adjust: auto;
  line-height: 160%;
  color: #3b444b;
}

h4 {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: #969c9c;
}
li {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line height: 250%
  color: #5a5a5a;
  background-color: inherit;
}
ul {
  line-height: 300%;
}
/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
